In [10]:
import pandas as pd
import xarray as xr
import h3
dates = ['20210331_0130','20210331_0430','20210331_0730','20210331_1030','20210331_1330','20210331_1630','20210331_1930']
path= '/Users/ilya/Data/NASA/'
h3_resolution=4

In [3]:
df1 = xr.open_dataset(path+'GEOS.fp.asm.tavg3_2d_chm_Nx.20210331_0130.V01.nc4').to_dataframe()

In [57]:
df1

                                        CO2CL  CO2EM       CO2SC      COCL  \
lat   lon       time
-90.0 -180.0000 2021-03-31 01:30:00  0.000423    0.0  423.088745  0.000205
      -179.6875 2021-03-31 01:30:00  0.000423    0.0  423.088745  0.000205
      -179.3750 2021-03-31 01:30:00  0.000423    0.0  423.088745  0.000205
      -179.0625 2021-03-31 01:30:00  0.000423    0.0  423.088745  0.000205
      -178.7500 2021-03-31 01:30:00  0.000423    0.0  423.088745  0.000205
...                                       ...    ...         ...       ...
 90.0  178.4375 2021-03-31 01:30:00  0.000429    0.0  432.756714  0.001024
       178.7500 2021-03-31 01:30:00  0.000429    0.0  432.756714  0.001024
       179.0625 2021-03-31 01:30:00  0.000429    0.0  432.756714  0.001024
       179.3750 2021-03-31 01:30:00  0.000429    0.0  432.756714  0.001024
       179.6875 2021-03-31 01:30:00  0.000429    0.0  432.756714  0.001024

                                     COEM          COLS          COPD  \
lat   lon       time
-90.0 -180.0000 2021-03-31 01:30:00   0.0  1.712581e-12  5.560329e-13
      -179.6875 2021-03-31 01:30:00   0.0  1.712581e-12  5.560329e-13
      -179.3750 2021-03-31 01:30:00   0.0  1.712581e-12  5.560329e-13
      -179.0625 2021-03-31 01:30:00   0.0  1.712581e-12  5.560329e-13
      -178.7500 2021-03-31 01:30:00   0.0  1.712581e-12  5.560329e-13
...                                   ...           ...           ...
 90.0  178.4375 2021-03-31 01:30:00   0.0  2.191598e-11  2.741840e-12
       178.7500 2021-03-31 01:30:00   0.0  2.191598e-11  2.741840e-12
       179.0625 2021-03-31 01:30:00   0.0  2.191598e-11  2.741840e-12
       179.3750 2021-03-31 01:30:00   0.0  2.191598e-11  2.741840e-12
       179.6875 2021-03-31 01:30:00   0.0  2.191598e-11  2.741840e-12

                                          COSC       LWI      TAITIME
lat   lon       time
-90.0 -180.0000 2021-03-31 01:30:00   41.13681  1.000027  891307810.0
      -179.6875 2021-03-31 01:30:00   41.13681  1.000027  891307810.0
      -179.3750 2021-03-31 01:30:00   41.13681  1.000027  891307810.0
      -179.0625 2021-03-31 01:30:00   41.13681  1.000027  891307810.0
      -178.7500 2021-03-31 01:30:00   41.13681  1.000027  891307810.0
...                                        ...       ...          ...
 90.0  178.4375 2021-03-31 01:30:00  142.26181  2.000000  891307810.0
       178.7500 2021-03-31 01:30:00  142.26181  2.000000  891307810.0
       179.0625 2021-03-31 01:30:00  142.26181  2.000000  891307810.0
       179.3750 2021-03-31 01:30:00  142.26181  2.000000  891307810.0
       179.6875 2021-03-31 01:30:00  142.26181  2.000000  891307810.0

[830592 rows x 10 columns]

In [76]:
def aggregate_h3(df):
    gb1h3 = df[['CO2SC']].groupby([lambda r: h3.geo_to_h3(r[0],r[1],h3_resolution),'time'])
    df1h3 = gb1h3.agg({'CO2SC':['median']})
    df1h3.columns = df1h3.columns.droplevel(1)
    return df1h3

In [77]:
aggregate_h3(df1).to_csv(path+'df1h3.csv',index_label=['h3','time'])

In [49]:
pd.read_csv(path+'df1h3.csv')

                   h3     median
0     820007fffffffff  432.80360
1     82000ffffffffff  433.33484
2     820017fffffffff  432.14734
3     82001ffffffffff  433.56920
4     820027fffffffff  433.29578
...               ...        ...
5877  82f397fffffffff  423.15710
5878  82f39ffffffffff  423.16296
5879  82f3a7fffffffff  423.22840
5880  82f3affffffffff  423.07703
5881  82f3b7fffffffff  423.20790

[5882 rows x 2 columns]

In [47]:
from keplergl import KeplerGl
map_2 = KeplerGl(height=400, data={"data_1": pd.read_csv(path+'df1h3.csv')})
map_2

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'data_1':                    h3     median
0     820007fffffffff  432.80360
1     82000ffffffffâ€¦

In [ ]:
df = pd.concat(
    xr.open_dataset(path+'GEOS.fp.asm.tavg3_2d_chm_Nx.'+d+'.V01.nc4')
    .to_dataframe()[["CO2SC"]] for d in dates
)
df.to_csv(path+'GEOS.20210331.csv')

In [79]:
df = pd.concat(
    aggregate_h3(xr.open_dataset(path+'GEOS.fp.asm.tavg3_2d_chm_Nx.'+d+'.V01.nc4')
    .to_dataframe()[["CO2SC"]]) for d in dates
)
df.to_csv(path+'GEOS.20210331.h3-'+str(h3_resolution)+'.csv',index_label=['h3','time'])